<h1>Participantes</h1>

{{#if participants.length}}
  <table>
    <thead>
      <tr><th>Nome</th><th>Data</th><th>Ações</th></tr>
    </thead>
    <tbody>
      {{#each participants}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.created_at_formatted}}</td>
        <td>
          <a href="/participants/{{this.id}}/edit">Editar</a>
          <form action="/participants/{{this.id}}?_method=DELETE" method="POST" style="display:inline">
            <button type="submit" onclick="return confirm('Excluir participante?')">Excluir</button>
          </form>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>Não há participantes. <a href="/">Adicione um agora</a>.</p>
{{/if}}
